@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Scheme */
  --color-background: #f8f8f8;
  --color-foreground: #ffffff; /*f2f2f2*/
  --color-secondary: #5a5a5a;
  --color-muted: #353535;
  --color-primary: #0084ff; /* E91E63 */
  --color-secondary: #ffffff;
  --color-text-foreground: #444444;
  --color-text-background: #ffffff;
  --color-text-muted: #999;
  --color-border: #ededed;

  --color-male: #03add8;
  --color-female: #ff99ff;
  --color-other: #757575;

  --color-danger: #ff0000;
  --color-success: #74b20e;
  --color-warning: #fcbd1f;
  --color-info: #00ffff;

  /* ROLES  */
  --color-admin: #d32f2f;
  --color-mod: #1976d2;
  --color-premium: #ffd700;
  --color-user: #757575;

  /* Typography */
  --font-roboto: "Roboto", sans-serif;
  --font-pacifico: "Pacifico", cursive;

  --main-menu-width: 160px;
  --users-area-width: 260px;
  --chat-area-width: calc(
    100% - var(--main-menu-width) - var(--users-area-width)
  );
}

/* Light and Dark Mode */

.light-mode {
  --color-background: #f8f8f8;
  --color-foreground: #ffffff; /*f2f2f2*/
  --color-secondary: #e4e4e4;
  --color-text-foreground: #444444;
  --color-text-background: #ffffff;
  --color-text-muted: #999;
  --color-text-muted-2: #666;
  --color-border: #ededed;
  --color-muted: #f5f5f5;
  --color-muted-hover: #ececec;
}

.dark-mode {
  --color-background: #121212;
  --color-foreground: #1a1a1a; /*f2f2f2*/
  --color-secondary: #5a5a5a;
  --color-text-foreground: #ffffff;
  --color-text-background: #444444;
  --color-text-muted: #999;
  --color-text-muted-2: #666;
  --color-border: #2b2b2b;
  --color-muted: #242424;
  --color-muted-hover: #292929;
}

@layer base {
  html {
    @apply bg-background font-roboto text-text-foreground;
  }

  /* SVG Icons */
  .icon {
    height: 1em;
    overflow: visible;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
