@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Import poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Scheme */
  --color-background: #f8f8f8;
  --color-foreground: #ffffff; /*f2f2f2*/
  --color-secondary: #5a5a5a;
  --color-muted: #353535;
  --color-primary: #009688; /* 0084ff */
  --color-primary-light: #52c7b8; /* 4d94ff */
  --color-primary-hover: #00897b; /* 0069d9 */
  --color-secondary: #ffffff;
  --color-text-foreground: #444444;
  --color-text-background: #ffffff;
  --color-text-muted: #999;
  --color-border: #ededed;

  --color-male: #03add8;
  --color-female: #ff99ff;
  --color-other: #757575;

  --color-danger: #b00020;
  --color-danger-hover: #9c011d;
  --color-success: #74b20e;
  --color-success-hover: #6a9f0d;
  --color-warning: #fcbd1f;
  --color-warning-hover: #f9b81f;
  --color-info: #00ffff;
  --color-info-hover: #00e1e1;

  /* ROLES  */
  --color-admin: #d32f2f;
  --color-mod: #1976d2;
  --color-premium: #ffd700;
  --color-user: #757575;

  /* Typography */
  --font-roboto: "Roboto", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;
  --font-open-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --main-menu-width: 260px; /* 160px */
  --main-menu-mobile-width: 180px;
  --users-area-width: 260px;
  --chat-area-width: calc(
    100% - var(--main-menu-width) - var(--users-area-width)
  );
}

/* Light and Dark Mode */

.light-mode {
  --color-background: #f8f8f8;
  --color-foreground: #ffffff; /*f2f2f2*/
  --color-secondary: #e4e4e4;
  --color-secondary-hover: #dcdcdc;
  --color-text-foreground: #444444;
  --color-text-background: #ffffff;
  --color-text-muted: #999;
  --color-text-muted-2: #666;
  --color-border: #ededed;
  --color-muted: #ececec;
  --color-muted-hover: #ececec;
}

.dark-mode {
  --color-background: #121212;
  --color-foreground: #1a1a1a; /*f2f2f2*/
  --color-secondary: #5a5a5a;
  --color-secondary-hover: #4a4a4a;
  --color-text-foreground: #ffffff;
  --color-text-background: #444444;
  --color-text-muted: #999;
  --color-text-muted-2: #666;
  --color-border: #2b2b2b;
  --color-muted: #242424;
  --color-muted-hover: #292929;
}

@layer base {
  html {
    @apply h-screen scroll-smooth bg-background font-poppins text-text-foreground;
  }

  /* SVG Icons */
  .icon {
    height: 1em;
    overflow: visible;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.4);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.8);
}

.message-enter {
  opacity: 0;
  transform: translateY(20px);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms,
    transform 500ms;
}
